* {
	margin: 0;
	padding: 0;
}

.wrap {
	display: flex;
	flex-wrap: wrap;
	margin: 10px auto;
	max-width: 1280px;
	background: orange;
	border: 1px dotted blue;
}

.block {
	background: #ccc;
	border: 1px solid black;
	font-size: 120%;
	text-align: center;
	padding: 20px;
	margin: 10px;
	box-sizing: border-box;
	flex: 1 0 calc(100% / 5 - 20px);
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
	.block {
		flex: 1 0 calc(100%/2 - 20px);
	}

	.hidden {
		display: none;
	}

	.order1 {
		order: -1;
	}

	.order2 {
		order: 2;
	}
}

@media screen and (max-width: 768px) and (min-width: 479px) {
	.block {
		flex: 1 0 calc(100%/2 - 20px);
	}

	.hidden2 {
		display: none;
	}

	.first-block {
		flex: 1 0 calc(100% - 20px);
	}
}
